<h2>Create some acting competition here!</h2>

<%= form_for @actor do |f| %>
  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password %><br><br>
  Name: <%= f.text_field :name %><br><br>
  Age: <%= f.number_field :age %><br><br>
  Sex: <%= f.select(:sex, @sex_array) %><br><br>
  <%= f.submit %>

<% end %>
