<h2><%= @actor.name %></h2>

Actor stats:<br><br>
Age: <%= @actor.age %><br>
Sex: <%= @actor.sex %><br><br>

<h3>My Auditions:</h3>

<% if @actor.auditions.count == 0 %>
<%= "No current auditions." %>
<% else %>
<ul>
  <% @actor.auditions.each do |audition| %>
  <li><%= link_to "#{audition.booking.show_name} - #{audition.booking.role_name}", audition_path(audition) %></li>
  <% end %>
  <% end %>
</ul><br><br>

<%= button_to "Delete this actor", actor_path(@actor), method: :delete %><br><br>

<%= link_to "Back to all actors", actors_path %>
