<h2><%= flash[:notice] %></h2>
<h2><%= @actor.name %></h2>

<h3><b>Actor stats:</b></h3>
<b>Age: </b><%= @actor.age %><br>
<b>Sex: </b><%= @actor.sex %><br><br>

<h3>My Auditions:</h3>

<% if @actor.auditions.count == 0 %>
<%= "No current auditions." %>
<% else %>
<ul>
  <% @actor.auditions.each do |audition| %>
  <li><%= link_to "#{audition.booking.show_name} - #{audition.booking.role_name}", audition_path(audition) %></li>
  <% end %>
  <% end %>
</ul><br>
<%= link_to "See all Booking Opportunities", bookings_path %><br><br>

<%= link_to "Back to all actors", actors_path %>

<%= button_to "Delete this actor", actor_path(@actor), method: :delete %>
