<h1>Create a New Audition for <%= Booking.find(@booking_id).show_name %></h1>
<b>Production Company: </b><%= Booking.find(@booking_id).production_company.name %><br>
<b>Address: </b><%= Booking.find(@booking_id).production_company.address %><br>
<b>Role: </b><%= Booking.find(@booking_id).role_name %><br>
<b>Sex: </b><%= Booking.find(@booking_id).sex %><br>
<b>Age: </b><%= Booking.find(@booking_id).age %><br>
<b>Duration in Days: </b><%= Booking.find(@booking_id).duration_days %><br>
<b>Salary: </b><%= Booking.find(@booking_id).salary %><br><br>

<%= form_for @audition do |f| %>
  <%= f.hidden_field :production_company_id, :value => Booking.find(@booking_id).production_company_id %>
  <%= f.hidden_field :address, :value => Booking.find(@booking_id).production_company.address%>
  <%= f.hidden_field :booking_id, :value => @booking_id %>
  <%= f.hidden_field :actor_id, :value => session[:actor_id]%>
  <b>Your Audition Time:</b><br>
  <%= f.time_select(:time,:start_year => 2018) %><br><br>
  <b>Your Audition Date: </b><br>
  <%= f.date_select(:date,:start_year => 2018) %><br><br>
  <%= f.submit %>


<% end %>
