<h1>Edit Booking Page for <%= @booking.show_name %></h1>

<%= form_for @booking do |f| %>

  <%= f.hidden_field :show_name%>

  <b><%= f.label :Role %></b>
  <%= f.text_field :role_name %><br><br>

  <b><%= f.label :Sex %></b>
  <%= f.select(:sex, @sex_array) %><br><br>

  <b><%= f.label :Actor %></b>
  <% if @audition_actors.length==0 %>
  <%= "There are no auditions" %>
  <% else %>
  <%= f.collection_select(:actor_id, @audition_actors, :id, :name) %>
  <% end %><br><br>

  <b><%= f.label :salary %></b>
  <%= f.text_field :salary %><br><br>

  <b><%= f.label :Duration_in_days %></b>
  <%= f.text_field :duration_days %><br><br>

  <b><%= f.label :Available %></b>
  <%= f.check_box :available %><br><br>

  <%= f.submit %>

<% end %>
