<% if @show_name == nil %><h1>New Booking for <%= @prod_name %></h1>
<% else %>
<h1>New Booking for <%= @show_name %></h1>
<% end %>

<%= form_for @booking do |f| %>
<% if @show_name ==nil %>
  <%= f.label :show_name %>
  <%= f.text_field :show_name %>
  <% else %>
  <%= f.hidden_field :show_name, :value => @show_name %>
  <% end %>
  <%= f.label :role_name %>
  <%= f.text_field :role_name %>

  <%= f.label :salary %>
  <%= f.text_field :salary %>

  <%= f.label :Duration_in_days %>
  <%= f.text_field :duration_days %>

  <%= f.label :sex %>
  <%= f.select(:sex, @sex_array) %>


  <%= f.hidden_field :production_company_id, :value => @prod_id %>
  <%= f.hidden_field :available, :value => true %>
  <%= f.submit %>

<% end %>
