<h1>Booking Info for <%= @booking.show_name %></h1>

<label><b>Role: </b></label> <%= @booking.role_name %><br>
<label><b>Salary: </b></label> <%= @booking.salary %><br>
<label><b>Duration in Days: </b></label> <%= @booking.duration_days %><br>
<label><b>Currently Available?: </b></label> <%= @booking.available? %>
