<h1>Create a New Production Company</h1>

<%= form_for @production_company do |f| %>

Username: <%= f.text_field :username %><br><br>
Password: <%= f.password_field :password %><br><br>
Production Company Name: <%= f.text_field :name %><br><br>
Address: <%= f.text_field :address %><br><br>
<%= f.submit %>

<% end %>
