<<<<<<< HEAD
<h1>Bookings for <%= @production_company.name %></h1>

=======
<h1><%= flash[:notice] %></h1>
<h1><%= @production_company.name %>'s Bookings</h1>
<h3><%= @production_company.address %></h3>
>>>>>>> db2e40fa811272d361ca3543bf8412a8b2f156f5
<%= button_to "Delete this company", @production_company, method: :delete %><br><br>

<%= link_to "Create a New Booking", new_booking_path(name: "#{@production_company.name}", prod_id: "#{@production_company.id}") %><br><br>

  <html>
  <head>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;

  }
  </style>
  </head>
  <body>
  <table style="width:100%">
    <tr>
      <th colspan=8>OPEN BOOKINGS</th>
    </tr>
    <tr>
      <th>Show</th>
      <th>Role</th>
      <th>Salary</th>
      <th>Sex</th>
      <th>Duration (Days)</th>
      <th>Available</th>
      <th>Edit Booking</th>
      <th>Delete Booking</th>
    </tr>

      <% @production_company.bookings.each do |booking| %>
      <tr>
      <td><center><%=booking.show_name %></center></td>
      <td><center><%=booking.role_name %></center></td>
      <td><center><%=booking.salary %></center></td>
      <td><center><%=booking.sex %></center></td>
      <td><center><%=booking.duration_days %></center></td>
      <td><center><%=booking.available %></center></td>
      <td><center><%= link_to "Edit this Booking", edit_booking_path(booking) %></center></td>
      <td><center><%= link_to "Delete this Booking", booking_path(booking),  method: :delete %></center></td>
    </tr>
    <% end %>
  </table><br><br>
  <%= link_to "Back to all companies", production_companies_path %>


  </body>
  </html>
