<h1>Bookings for <%= @production_company.name %></h1>


<%= link_to "Create a New Booking", new_booking_path(name: "#{@production_company.name}", prod_id: "#{@production_company.id}") %><br><br>

  <html>
  <head>
  <style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;

  }
  </style>
  </head>
  <body>
  <table style="width:100%">
    <tr>
      <th colspan=8><center>OPEN BOOKINGS</center></th>
    </tr>
    <tr>
      <th><center>Show</center></th>
      <th><center>Role</center></th>
      <th><center>Salary</center></th>
      <th><center>Sex</center></th>
      <th><center>Duration (Days)</center></th>
      <th><center>Edit Booking</center></th>
      <th><center>Delete Booking</center></th>
    </tr>

      <% @production_company.bookings.each do |booking| %>
      <tr>
      <td><center><%=booking.show_name %></center></td>
      <td><center><%=booking.role_name %></center></td>
      <td><center><%=booking.salary %></center></td>
      <td><center><%=booking.sex %></center></td>
      <td><center><%=booking.duration_days %></center></td>
      <td><center><%= link_to "Edit this Booking", edit_booking_path(booking) %></center></td>
      <td><center><%= link_to "Delete this Booking", booking_path(booking),  method: :delete %></center></td>
    </tr>
    <% end %>
  </table><br><br>
  <%= link_to "Back to all companies", production_companies_path %><br>
  <%= button_to "Delete this company", @production_company, method: :delete %>


  </body>
  </html>
